<!--The content below is only a placeholder and can be replaced.-->
<!--<h3>Routing </h3>-->
<nav>
  <button class="btn" routerLink="/departments" routerLinkActive="active">departments</button>
  <button class="btn" routerLink="/employees" routerLinkActive="active">employees</button>
  <button class="btn" routerLink="/students" routerLinkActive="active">students</button>
  <button class="btn btn-primary" routerLink="/studentlist" routerLinkActive="activate">studentlist</button>
 <button class="btn btn-primary " routerLink="/structuralDir" routerLinkActive="ativate">structuralDirective</button>
 <button class="btn btn-primary" routerLink="/httpObservables" routerLinkActive="active">http&observables</button>
</nav>
<router-outlet></router-outlet>

<!--<app-parent-comp></app-parent-comp>-->


<!--task using parent child comp for data sharing -->
<!--<app-parent-student></app-parent-student>
<app-view-child-parent-comp></app-view-child-parent-comp>

  <app-databinding-comp></app-databinding-comp>-->

